<!-- CSS media query on a link element -->
<link rel="stylesheet" media="(max-width: 800px)" href="screen.css" />

<!-- CSS media query within a stylesheet -->
<style> 
  @media (min-width: 800px) and (orientation: portrait){
  header{
  color: white; /* Make your text white*/
  background-image: url('12314391175_9de4ed7c07_o.jpg');
  background-size: cover;}
  @media (max-width: 2000px) handheld and (orientation: portrait){
  header{
  color: white; /* Make your text white*/
  background-image: url('12314391175_9de4ed7c07_o.jpg');
  background-size: cover;}
  </style>